<extend name="_Layout/main"/>

<block name="container">
    <div class="container">

        <div class="chart">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
<!--                             <div class="pull-right">
                                <button id="daterange_set" class="btn btn-default btn-sm" style="margin-top:-5px;margin-right:-5px;"><span class="fa fa-cog"></span></button>
                            </div> -->
                            {$start_date}－{$end_date} {$count_day}毕业生信息采集增长统计
                        </div>
                        <div class="panel-body">
                            <canvas id="aaa" style="width:100%;height:600px;"></canvas>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</block>

<block name="libs">
    <script src="__PUBLIC__/libs/chart/1.x/Chart.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var ctx = $("#aaa").get(0).getContext("2d");
        //This will get the first returned node in the jQuery collection.
        var myNewChart = new Chart(ctx);
        var data = {
            labels : [{$data['labels']}],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    data : [{$data['datasetsStart']}]
                },
                {
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    data : [{$data['datasetsEnd']}]
                }
            ]
        };
        myNewChart.Bar(data,{
            //Boolean - If we show the scale above the chart data 
            // 网格线是否在数据线的上面           
            scaleOverlay : false,

            //Boolean - If we want to override with a hard coded scale
            // 是否用硬编码重写y轴网格线
            scaleOverride : true,

            //** Required if scaleOverride is true **
            //Number - The number of steps in a hard coded scale
            // y轴刻度的个数
            scaleSteps : 10,

            //Number - The value jump in the hard coded scale
             // y轴每个刻度的宽度
            scaleStepWidth : 1000,

            //Number - The scale starting value
            // y轴的起始值
            scaleStartValue : null,

        });


    });
        
    </script>
</block>
