<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>后台管理</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.min.css?v={:C('STATIC_VERSION')}">

    <!-- 如果配置里CDN静态资源列表则使用CDN否则使用静态资源 -->
    <?php if(C('CDN_RESOURCE_LIST')): ?>
        {:C('CDN_RESOURCE_LIST')}
    <?php else: ?>
        <script type="text/javascript" src="__PUBLIC__/libs/jquery/1.x/jquery-1.11.3.min.js"></script>
    <?php endif; ?>
</head>

<body id="<?php echo 'body-'.$__CONTROLLER_NAME__.'-'.$__ACTION_NAME__; ?>" class="<?php echo 'body-'.$__CONTROLLER_NAME__.' body-'.$__CONTROLLER_NAME__.'-'.$__ACTION_NAME__; ?>">

    <div id="particles-js" class="background"></div>

    <div class="container">
        <div class="panel panel-default login-panel col-xs-12 col-md-4 col-md-offset-4">
            <div class="panel-heading" style="height: auto;">
                <div class="info text-muted text-center">
                    <span>毕业生后台管理系统</span>
                </div>
            </div>
            <div class="panel-body">
                <form class="login-form" action="{:U('Public/login')}" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="邮箱/手机号/用户名" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" placeholder="请输入密码" name="password">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block submit ajax-post" target-form="login-form">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
</html>
